.carousel-item img {
    height: 300px;           
    width: 100%;             
    object-fit: cover;       
    object-position: center; 
}

.card-img-top {
  height: 200px;        
  object-fit: cover;    
  object-position: center;
}
