.para{
    background-color: red;
    text-align: center;
    border-color:black;
    border: 2px solid black;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hero{
    margin-top: 100px;
    margin-left: 100px;
    text-shadow: 1px 2px 1px goldenrod;
    box-shadow: 1px 1px 15px 10px tan;
    width: 60;
}
.classic{
    margin-top: 200px;
    max-width: 50%;
    max-height: 50%;
    border: 2px solid black;
    overflow: scroll;
}

.temp{
    background-color: blueviolet;
    border: 2px solid salmon;
    position:relative;
    top:20px;
    left:0px;
    height: 100px;
    width: 100px;
}
